<label>Titre</label>
<%= text_field_tag 'post[title]', @post.title, class: 'form-control' %>

<label>Contenu</label>
<%= text_area_tag 'post[content]', @post.content, class: 'form-control' %>

<label>Catégorie</label>
<select name="post[category_id]" class="form-control">
  <% Category.all.each do |category| %>
    <option value="<%= category.id %>"><%= category.name %></option>
  <% end %>
</select>

<br />
<%= submit_tag "Save", class:"btn btn-primary" %>

