<h2><%= @post[:title] %></h2>

<%= image_tag @post[:image_url], width: '100px' %>

<i>Ecrit par: <%= @post[:user_name] %></i>
<br />
<b>Le: <%= @post[:created_at] %></b> 
<p><%= @post[:content] %></p>
